.td-navbar {
  position: static;
  top: initial;
}

.td-sidebar {
  padding-top: 0;
}

.td-sidebar__inner {
  position: static;
}

.td-main main {
  padding-top: 1em !important;
}

.td-toc {
  top: 1rem;
  order: 2;
}

.td-sidebar-nav__section li {
  padding-left: 0.8em;
}

.td-sidebar-nav__section-title {
  padding-left: 0 !important ;
}

.td-sidebar-nav a.active {
  font-weight: 800;
}

.td-content code {
  color: inherit;
  padding: 0.2em 0.4em;
  background-color: rgba($black, 0.05);
}
