.td-navbar {
  position: static;
  top: initial;
}

.td-sidebar {
  padding-top: 0;
}

.td-sidebar__inner {
  position: static;
}

.td-main main {
  padding-top: 1em !important;
}

.td-toc {
  top: 1rem;
  order: 2;
}

.td-sidebar-nav__section ul {
  padding-left: 0.5em;
}

.td-sidebar-nav a.active {
  font-weight: 800;
}
